body, ul{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #F8F4FC;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 75%;
}
.header-container a img{
    margin-top: -20px;
}
.header__navigation{
    list-style: none;
    display: flex;
}
.header__navigation a{
    margin-top: -20px;
}
.header__icons{
    list-style: none;
    display: flex;
}
.header__icons-icon a img{
    margin: 6px;
    width: 22px;
    margin-top: -20px;
}
.header__navigation-item{
    width: 100px;
    text-align: center;
}
.header__navigation-item a{
    text-decoration: none;
    color: #354657;
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 50px 0;
}
.box{
    width: 75%;
    margin: 0 auto;
}
.box_container_title{
    margin-top: 83px;
    border-bottom-width: 1px;
    border-bottom-color: #E2E2E2;
    border-bottom-style: solid;
    padding-bottom: 18px;
}
.box_3boxes{
    display: flex;
    justify-content: space-between;
}
.box_3boxes_card{
    width: 30%;
    height: 513px;
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 254, 254);
    background-image: url("../img/Rectangle\ 4.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.box1_title{
    margin-top: 180px;
    font-size: 24px;
}
.box1_text{
    font-size: 16px;
}
.box1_button{
    margin-top: 20px;
    border-bottom-width: 1px;
    border-bottom-color: #946FD3;
    border-bottom-style: solid;
    padding-bottom: 18px;
}
