body{
    position: absolute;
    display: flex;
    cursor: not-allowed;
    width: 1728px;
    height: 2144px;
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
}
.content{
    width: 80%;
    margin: 0 auto;   
}
.ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_box_full_web{
    width: 1728px;
    height: 101px;
    background-color: black;
    display: flex;
    margin-left: -15px;
    margin-top: -8px;
}
.header_box{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    margin-left: -30px;
}
.header__navigation_1part{
    display: flex;
    font-size: 19px;
    padding-inline-start: 0  
}
.header__navigation_1part li{
    width: 302px;
    text-align: center;
}
.header__navigation_2part li{
    width: 302px;
    text-align: center;
}
.header__navigation_1part li a{
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
    
}
.header__navigation_2part li a{
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
}
.logo{
    background-color: black;
    padding-left: 112px;
    padding-right: 112px;
}
.header__navigation_2part{
    display: flex;
    padding-inline-start: 0;
    font-size: 19px;
}

.box_inside_middle_box{
    display: flex;  
    width: 1169px;
    height: 794px;
    background-color: black;
    margin-left: 256px;
    margin-top: 102px;
}
.three_boxes_vertical_recrangles{
    display: flex;
    margin-top: 200px;
    margin-left: -810px;
}
.products{
    width: 442px;
    height: 78px;
    color: #FD7D54;
    text-transform: lowercase;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
    margin-left: 379px;
    margin-top: 20px;
}
.affordable_quality_every_time{
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    width: 635px;
    height: 42px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    margin-left: 283px;
}
.three_boxes_vertical_recrangles_first h2, .three_boxes_vertical_recrangles_second h2, .three_boxes_vertical_recrangles_third h2{
    color: #FFFFFF;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    align-items: center;
    margin: 0;
    padding: 0;
}
.three_boxes_vertical_recrangles_first, .three_boxes_vertical_recrangles_second, .three_boxes_vertical_recrangles_third{
    width: 293px;
    height: 440px;
    border: solid;
    border-color: #FFFFFF;
    border-radius: 7px;
    border-width: 1px;
    text-align: center;
    padding: 10px;
}
.text_first_box, .text_second_box, .text_third_box{
    color: #FFFFFF;
    font-size: 18px;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    align-items: center;
    margin: 0;
    padding: 0;
    border-top: solid;
}
.button_in_box_1, .button_in_box_2, .button_in_box_3{
    color: #41C3F6;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer_box{
    width: 1728px;
    height: 50px;
    background-color: black;
    display: flex;
    margin-top: 102px;
    margin-left: -16px;
}
.gem_paint_co{
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
