body{
    background-repeat: repeat;
    background-image: url('../img/background1.png');  
    margin: 0;
}
.body{
    width: 1024px;
    height: 3452px;
    margin: 0 auto;
}
.header_text_1{
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 500;
   margin-left: 25px;
}
.first_image, .second_image{
    width: 1023px;
    border-width: 2px;
    border-color: rgb(205, 193, 193);
    border-style: solid;
    border-radius: 10px; 
}
.first_image_bottom_text{
    color: #333333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 25px;
}
.header_text_2{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.header_text_3{
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 25px;
}
.first_smaller_picture{
    width: 766.99px;
    border-width: 2px;
    border-color: rgb(205, 193, 193);
    border-style: solid;
    border-radius: 10px;
}
.first_smaller_picture_box{
   margin-left: 12%;
}
.first_smaller_picture_bottom_text_box{
    color: #333333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.header_text_4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.second_smaller_picture{
    width: 766.99px;
    border-width: 2px;
    border-color: rgb(205, 193, 193);
    border-style: solid;
    border-radius: 10px;
}
.second_smaller_picture_box{
   margin-left: 12%;
}
.header_text_5{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 26px;
}
.full_width_picture{
    width: 100%;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-radius: 20px;
}
.full_width_picture_bottom_text_box{
    color: #333333;
    text-align:left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 26px;
}
.header_text_6{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 26px;
}
.img_with_settings{
    margin-left: 24px;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-radius: 10px;
}
.header_text_7{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 26px;
}
.face_of_the_man{
    margin-left: 26px;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
    border-style: solid;
    border-radius: 50%;