body a{
    text-decoration: none;
    color: blueviolet;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0, auto;
}
ol{
    list-style: none;
    counter-reset: li;
}
li:before{
    counter-increment: li;
    content: counter(li, ".")
}