body{
    background-image: url('../img/seamless_paper_texture.webp');
    margin: 0 auto;
}
.header{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    margin-top: 25px;
    margin-bottom: 31px;
}
.blue_word{
    color: #3E45E8;
}
.yellow_word{
    color: #c3c83f;
}
.whole_box_div{
    margin: 0 auto;
}
.first_box_with_background{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    background-image: url('../img/image\ 1.png');
    width: 1440px;
    height: 803px;
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.first_box_with_background_text{
    padding-bottom: 169px;
    padding-left: 118px;
    padding-right: 285px;
    padding-top: 210px;
    background-image: url('../img/flag.png');
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 206px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.title_neimovini_misca{
    color: #000000;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 72px;
}
.three_pictures_in_line{
    display: flex;
    justify-content: center;   
}
.three_pictures_in_line_1{
    display: inline-block;
    width: 391.2px;
    height: 481px;
    border: 1px solid rgb(207, 207, 207);
    color: #030303;
    border-radius: 32px;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 25%);

}
.three_pictures_in_line_1 img{
    width: 100%;
}
.three_pictures_in_line_2{
    display: inline-block;
    width: 391.2px;
    height: 481px;
    vertical-align:top;
    border: 1px solid rgb(207, 207, 207);
    color: #030303;
    border-radius: 32px;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 25%);
}
.three_pictures_in_line_2 img{
    width: 100%;
}
.three_pictures_in_line_3{
    display: inline-block;
    width: 391.2px;
    height: 481px;
    vertical-align:top;
    border: 1px solid rgb(207, 207, 207);
    color: #030303;
    border-radius: 32px;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 25%);
}
.three_pictures_in_line_3 img{
    width: 100%;
}
.card__title a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
}
.card__subtitle a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
}
.card_margin{
    margin: 0 120px;
}
.card__title{
    font-size: 36px;
    padding: 10px;
    box-sizing: border-box;
}
.card__subtitle{
    font-size: 32px;
    font-weight: 400;
    color: #595050;
    padding: 10px;
    box-sizing: border-box;
    width: 395px;
    height: 100px;
}
.title_nasha_ukraina{
    color: #000000;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    margin-top: 74px;
}
.line{
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin-top: 25px;
}
.blue_button{
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    padding-top: 17px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 41px;
}
.blue_button:hover{
    background-color: #E8C23E;
}
.blue_button_text a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 64px;
    text-align: center;
    display: block;
    width: 591px;
    height: 105px;
}
.map_of_ukraine{
    display: flex;
    justify-content: center;
    margin-top: 41px;
}
.bottom_box{
    background-color: #2F4A4B;
    width: 1440px;
    height: 320px;
    margin: 0 auto;
    margin-top: 21px;
}
.e-mail{
    display: flex;
    margin-top: 31px;
}
.e-mail a{
    text-decoration: none;
    color: #A89D9D;
    font-size: 36px;
    font-family: 'Marcellus SC', serif;
    margin: 0 auto;
}
.phone{
    display: flex;
    margin-top: 21px;
}
.phone a{
    text-decoration: none;
    color: #A89D9D;
    font-size: 36px;
    font-family: 'Marcellus SC', serif;
    margin: 0 auto;
}
.bottom_social_links{
    display: flex;
    justify-content: center;
    margin-top: 21px;
}
.telegram{
    margin-left: 12px;
}
.facebook{
    margin-left: 12px;
}
.twitter{
    margin-left: 12px;
}
